<div id="book-view-container" class="container">
  <div class="row text-center">
    <a class="back-link main-color" href="/">Voltar</a>
    <div class="col-md-12" id="img-container">
      <img src="/img/logo.svg" alt="User">
    </div>
    <div id="col-md12">
      <h1 class="main-color">{{book.dataValues.title}}</h1>
      <p class="bold">Autor:{{book.dataValues.author}}</p>
      <p class="book-desc">{{book.dataValues.description}}</p>
      <p class="bold">Dono do livro: {{book.dataValues.user}}</p>
      <p>Contato: {{book.dataValues.contact}}</p>
    </div>
  </div>
</div>